# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.bowerrc
!.gitignore
!gulp.config.js
!gulpfile.js
!notify.png
!package.json


# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/project/