a:hover {
  color: #d13447; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "OpenSansRegular", sans-serif; }

.single-page a.permalink {
  cursor: default; }

footer {
  margin-top: 50px; }

menu {
  padding: 0; }

*, .container-fluid {
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  height: auto;
  display: inline-block; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: 0; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  background: none;
  color: #000;
  -webkit-border-radius: 0;
  border-radius: 0; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0; }

.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child {
  background: none; }

.row {
  margin-left: 0;
  margin-right: 0; }

::-webkit-input-placeholder {
  background: default; }

::-moz-selection {
  background: default; }

::selection {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex-box, .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

.not-found {
  padding: 80px 0; }
  .not-found h2 {
    font-size: 16rem; }

.row {
  margin: 0 !important; }

.pagination-wrapper {
  text-align: center; }

.screen-reader-text {
  display: none; }

ul.menu {
  padding-left: 0; }

.search-fail h2 {
  margin-bottom: 15px; }

aside {
  width: 300px;
  float: right; }

main#main {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  float: left; }

.wb_search {
  width: 300px;
  position: relative; }
  .wb_search .text {
    width: 100%;
    border: 1px solid #cfd9db;
    padding: 4px 40px 4px 10px;
    float: left; }
  .wb_search ::-webkit-input-placeholder {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 1.2rem;
    color: #cfd9db; }
  .wb_search .button-search {
    float: right;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 7px 7px;
    background: #d13447;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0; }
  .wb_search .icon-search {
    height: 16px;
    width: 16px;
    display: block;
    background-image: url(sprite.png);
    background-position: 0px -80px;
    width: 16px;
    height: 16px; }

.pagination {
  font-family: "OpenSansRegular", sans-serif;
  font-size: #456cff;
  text-decoration: none; }
  .pagination a, .pagination .current {
    margin: 0 3px; }
  .pagination .current {
    color: #fff;
    font-weight: bold;
    background: #d13447;
    padding: 4px 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.more-link {
  display: none; }

.blog-page .media-body img {
  max-width: 100%;
  height: auto; }

.owl-carousel img {
  height: auto !important; }

.content-wrapper {
  min-height: -webkit-calc(100vh - 300px);
  min-height: calc(100vh - 300px);
  width: 100%;
  padding: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

p {
  font-family: "OpenSansRegular"; }
